# Build artifacts
build/
bin/
lib/
memory/
third_party/
*.exe
*.dll
*.a
*.o

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# IDE/Editor
.vscode/
.idea/
*.sln
*.vcxproj
*.vcxproj.user
.vs/

# Python / AI
__pycache__/
*.pyc
venv/
.env

# Logs
*.log
logs/

# Gemini
.gemini/
AGENT*.
.roo/
scripts/assets
third_party/cv2pdb-0.54
third_party/entt
third_party/json
third_party/spdlog
third_party/taskflow
# assets/textures